## Import dữ liệu cần thiết

In [29]:
import pandas as pd

## Bước 1: Đọc file CSV

In [30]:
covid_df = pd.read_csv('../data/original/March_06_2023_corona_data.csv')
covid_df

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,...,Total tests,Tests/1M pop,Population,Continent,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,USA,"105,396,817",NaN,"1,146,740",NaN,"102,864,696",NaN,"1,385,381","2,726","314,800",...,"1,167,685,851","3,487,657","334,805,269",North America,3,292,0.0,NaN,NaN,"4,138"
1,India,"44,688,101",NaN,"530,775",NaN,"44,154,425",NaN,"2,901",NaN,"31,770",...,"919,189,149","653,468","1,406,631,776",Asia,31,"2,650",2.0,NaN,NaN,2
2,France,"39,638,159",NaN,"165,030",NaN,"39,400,459",+706,"72,670",869,"604,383",...,"271,490,188","4,139,547","65,584,518",Europe,2,397,0.0,NaN,NaN,"1,108"
3,Germany,"38,210,850",NaN,"168,397",NaN,"37,767,300","+17,500","275,153",NaN,"455,522",...,"122,332,384","1,458,359","83,883,596",Europe,2,498,1.0,NaN,NaN,"3,280"
4,Brazil,"37,076,053",NaN,"699,276",NaN,"36,249,161",NaN,"127,616",NaN,"172,164",...,"63,776,166","296,146","215,353,593",South America,6,308,3.0,NaN,NaN,593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Vatican City,29,NaN,NaN,NaN,29,NaN,0,NaN,"36,295",...,NaN,NaN,799,Europe,28,NaN,NaN,NaN,NaN,NaN
227,Western Sahara,10,NaN,1,NaN,9,NaN,0,NaN,16,...,NaN,NaN,"626,161",Africa,"62,616","626,161",NaN,NaN,NaN,NaN
228,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Tokelau,5,NaN,NaN,NaN,NaN,NaN,5,NaN,"3,628",...,NaN,NaN,"1,378",Australia/Oceania,276,NaN,NaN,NaN,NaN,"3,628"
230,China,"503,302",NaN,"5,272",NaN,"379,053",NaN,"118,977",NaN,347,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9.0,NaN,NaN,82

## Bước 2: Xem và chuyển đổi kiểu dữ liệu

In [31]:
covid_df.dtypes

Country                 object
Total Cases             object
New Cases               object
Total Deaths            object
New Deaths             float64
Total Recovered         object
New Recovered           object
Active Cases            object
Serious, Critical       object
Tot Cases/1M pop        object
Deaths/1M pop           object
Total tests             object
Tests/1M pop            object
Population              object
Continent               object
1 Case every X ppl      object
1 Death every X ppl     object
1 Test every X ppl     float64
New Cases/1M pop       float64
New Deaths/1M pop      float64
Active Cases/1M pop     object
dtype: object

In [32]:
covid_df['Continent'] = covid_df['Continent'].fillna('Unknown')

covid_df.head(10)

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,...,Total tests,Tests/1M pop,Population,Continent,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,USA,"105,396,817",NaN,"1,146,740",NaN,"102,864,696",NaN,"1,385,381","2,726","314,800",...,"1,167,685,851","3,487,657","334,805,269",North America,3,292,0.0,NaN,NaN,"4,138"
1,India,"44,688,101",NaN,"530,775",NaN,"44,154,425",NaN,"2,901",NaN,"31,770",...,"919,189,149","653,468","1,406,631,776",Asia,31,"2,650",2.0,NaN,NaN,2
2,France,"39,638,159",NaN,"165,030",NaN,"39,400,459",+706,"72,670",869,"604,383",...,"271,490,188","4,139,547","65,584,518",Europe,2,397,0.0,NaN,NaN,"1,108"
3,Germany,"38,210,850",NaN,"168,397",NaN,"37,767,300","+17,500","275,153",NaN,"455,522",...,"122,332,384","1,458,359","83,883,596",Europe,2,498,1.0,NaN,NaN,"3,280"
4,Brazil,"37,076,053",NaN,"699,276",NaN,"36,249,161",NaN,"127,616",NaN,"172,164",...,"63,776,166","296,146","215,353,593",South America,6,308,3.0,NaN,NaN,593
5,Japan,"33,264,491","+4,263","72,805",34.0,"21,694,886","+1,551","11,496,800",131,"264,877",...,"95,651,487","761,648","125,584,838",Asia,4,"1,725",1.0,34.0,0.3,"91,546"
6,S. Korea,"30,569,215","+4,300","34,034",9.0,"30,363,195",NaN,"171,986",145,"595,544",...,"15,804,065","307,892","51,329,899",Asia,2,"1,508",3.0,84.0,0.2,"3,351"
7,Italy,"25,603,510",NaN,"188,322",NaN,"25,267,118",NaN,"148,070",137,"424,864",...,"268,196,399","4,450,449","60,262,770",Europe,2,320,0.0,NaN,NaN,"2,457"
8,UK,"24,370,154",NaN,"206,952",NaN,"24,106,232","+3,964","56,970",NaN,"355,780",...,"522,526,476","7,628,357","68,497,907",Europe,3,331,0.0,NaN,NaN,832
9,Russia,"22,353,291","+11,163","396,336",38.0,"21,686,422","+9,166","270,533",NaN,"153,308",...,"273,400,000","1,875,095","145,805,947",Europe,7,368,1.0,77.0,0.3,"1,855"

## Bước 3: Xóa hết các dấu "+" có trong dữ liệu của 2 thuộc tính "New Cases" và "New Recovered"

In [33]:
covid_df['New Cases'] = covid_df['New Cases'].apply(lambda x: x.replace('+', '') 
                                                    if isinstance(x, str) 
                                                    else x)
covid_df['New Recovered'] = covid_df['New Recovered'].apply(lambda x: x.replace('+', '') 
                                                            if isinstance(x, str) 
                                                            else x)

covid_df.head(10)

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,...,Total tests,Tests/1M pop,Population,Continent,1 Case every X ppl,1 Death every X ppl,1 Test every X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,USA,"105,396,817",NaN,"1,146,740",NaN,"102,864,696",NaN,"1,385,381","2,726","314,800",...,"1,167,685,851","3,487,657","334,805,269",North America,3,292,0.0,NaN,NaN,"4,138"
1,India,"44,688,101",NaN,"530,775",NaN,"44,154,425",NaN,"2,901",NaN,"31,770",...,"919,189,149","653,468","1,406,631,776",Asia,31,"2,650",2.0,NaN,NaN,2
2,France,"39,638,159",NaN,"165,030",NaN,"39,400,459",706,"72,670",869,"604,383",...,"271,490,188","4,139,547","65,584,518",Europe,2,397,0.0,NaN,NaN,"1,108"
3,Germany,"38,210,850",NaN,"168,397",NaN,"37,767,300","17,500","275,153",NaN,"455,522",...,"122,332,384","1,458,359","83,883,596",Europe,2,498,1.0,NaN,NaN,"3,280"
4,Brazil,"37,076,053",NaN,"699,276",NaN,"36,249,161",NaN,"127,616",NaN,"172,164",...,"63,776,166","296,146","215,353,593",South America,6,308,3.0,NaN,NaN,593
5,Japan,"33,264,491","4,263","72,805",34.0,"21,694,886","1,551","11,496,800",131,"264,877",...,"95,651,487","761,648","125,584,838",Asia,4,"1,725",1.0,34.0,0.3,"91,546"
6,S. Korea,"30,569,215","4,300","34,034",9.0,"30,363,195",NaN,"171,986",145,"595,544",...,"15,804,065","307,892","51,329,899",Asia,2,"1,508",3.0,84.0,0.2,"3,351"
7,Italy,"25,603,510",NaN,"188,322",NaN,"25,267,118",NaN,"148,070",137,"424,864",...,"268,196,399","4,450,449","60,262,770",Europe,2,320,0.0,NaN,NaN,"2,457"
8,UK,"24,370,154",NaN,"206,952",NaN,"24,106,232","3,964","56,970",NaN,"355,780",...,"522,526,476","7,628,357","68,497,907",Europe,3,331,0.0,NaN,NaN,832
9,Russia,"22,353,291","11,163","396,336",38.0,"21,686,422","9,166","270,533",NaN,"153,308",...,"273,400,000","1,875,095","145,805,947",Europe,7,368,1.0,77.0,0.3,"1,855"

## Bước 4: Convert các cột có kiểu dữ liệu số về lại đúng kiểu dữ liệu của nó:

Các cột sau đây đã được đưa về về đúng kiểu dữ liệu rồi nên bỏ qua:
- 1 Test every X ppl     
- New Cases/1M pop       
- New Deaths/1M pop      
- New Deaths

In [34]:
numeric_cols = ['Total Cases', 'New Cases', 'Total Deaths', 'Total Recovered',
                'New Recovered', 'Active Cases', 'Serious, Critical', 'Tot Cases/1M pop',
                'Deaths/1M pop', 'Total tests', 'Tests/1M pop', 'Population',
                '1 Case every X ppl', '1 Death every X ppl', 'Active Cases/1M pop']

covid_df[numeric_cols] = covid_df[numeric_cols].apply(lambda x: x.str.replace(',', '')).astype(float)
covid_df = covid_df.fillna(0)

## Bước 5: Drop 2 quốc gia "Diamond Princess" và "MS Zaandam":

2 quốc gia "Diamond Princess" và "MS Zaandam" thiếu rất nhiều dữ liệu, không giúp được gì cho quá trình quan sát các mối quan hệ nên nhóm quyết định drop 2 dòng này.

In [35]:
to_drop = covid_df[covid_df["Country"].isin(["Diamond Princess", "MS Zaandam"])].index
covid_df = covid_df.drop(to_drop)

Int64Index([], dtype='int64')

## Bước 6: Trả về file CSV.

In [36]:
covid_df.to_csv('../data/modified/Modified_March_06_2023_corona_data.csv', index=False)